<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @delivery_entry.date %>
</p>

<p>
  <strong>In:</strong>
  <%= @delivery_entry.in %>
</p>

<p>
  <strong>Out:</strong>
  <%= @delivery_entry.out %>
</p>

<p>
  <strong>Company:</strong>
  <%= @delivery_entry.company %>
</p>

<p>
  <strong>Plate vehicle:</strong>
  <%= @delivery_entry.plate_vehicle %>
</p>

<p>
  <strong>Plate trailer:</strong>
  <%= @delivery_entry.plate_trailer %>
</p>

<p>
  <strong>Plate state:</strong>
  <%= @delivery_entry.plate_state %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @delivery_entry.initials %>
</p>

<p>
  <strong>Pass num:</strong>
  <%= @delivery_entry.pass_num %>
</p>

<%= link_to 'Edit', edit_delivery_entry_path(@delivery_entry) %> |
<%= link_to 'Back', delivery_entries_path %>
